/* Sidebar background */
section[data-testid="stSidebar"] {
    background-color: #cce6ff !important; /* light blue */
}

/* Center the logo */
section[data-testid="stSidebar"] img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
